<div class="media">
    <div class="media-left">
        <a class="logo" href="#">Collra</a>
    </div>
    <div class="media-right">
        <a href="#">
            <img src="img/user/user.png" alt="Az Ltdanh" class="img-circle" width="34" height="34">
            <span class="hidden-sm hidden-md">Az Ltdanh</span>
        </a>
    </div>
    <div class="media-body">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." id="searchInputs">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>